{{#block "header/tpl"}}
    <div class="container-fluid bd-gutter">
        <div class="gr-header-start">
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#gr-navbar-collapse"
                aria-controls="gr-navbar-collapse"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    class="bi"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                    ></path>
                </svg>
            </button>
        </div>

        <!-- Logo Component -->
        <div class="navbar-brand text-center text-xl-start flex-grow-1 flex-xl-grow-0">
            <h1 class="m-0 me-lg-3">
                <a href="/" title="{{i 'main.title'}}" class="text-decoration-none text-white">{{i
                        "main.name"
                    }}</a>
            </h1>
        </div>

        <!-- Search Component -->
        <div class="gr-search-bar position-relative">
            <div class="gr-search-bar-container d-flex flex-fill">
                <button class="gr-search-close btn btn-link text-decoration-none text-body">
                    <i class="bi bi-arrow-left-short fs-1"></i>
                </button>

                <form class="d-flex flex-fill mb-0" role="search" method="get" action="/search">
                    <button
                        class="gr-explore-btn btn btn-{{default (get 'area' query) 'secondary'}}
                            me-2 text-nowrap"
                        type="button"
                    >
                        <span class="d-none d-sm-inline text-bold">
                            {{#if area}}
                                <span class="me-2">{{area.title}}</span>
                            {{else}}
                                <span class="me-2">Explore</span>
                            {{/if}}
                            <i class="bi bi-chevron-right"></i>
                        </span>
                        <i class="bi bi-funnel d-sm-none"></i>
                    </button>
                    {{#if (isTruthy area)}}
                        <input type="hidden" name="area" value="{{area.slug}}" />
                    {{/if}}
                    <div class="input-group">
                        <input
                            name="q"
                            type="text"
                            class="form-control"
                            placeholder="{{i 'main.search.placeholder'}}"
                            aria-label="Search button"
                            aria-describedby="form-control"
                        />

                        <button class="gr-icon-btn btn btn-secondary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            {{#embed "drop-menu/tpl"}}{{/embed}}
        </div>

        <!-- Menu Component -->
        <div
            class="gr-mobile-menu offcanvas-xl offcanvas-start"
            tabindex="-1"
            id="gr-navbar-collapse"
        >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">{{i "main.name"}}</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#gr-navbar-collapse"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-3 fs-6">
                    {{#each (i "main.menu")}}
                        <li class="nav-item">
                            <a href="{{this.url}}" title="{{this.title}}" class="nav-link">
                                {{this.title}}
                            </a>
                        </li>
                    {{/each}}
                </ul>

                <hr class="d-lg-none my-4" />

                {{#not authenticated}}
                    <a
                        href="{{i 'main.signIn.url'}}"
                        class="btn btn-outline-secondary border-dashed me-0 me-xl-2 mb-3 mb-xl-0 d-block d-xl-inline"
                    >
                        {{i "main.signIn.label"}}
                    </a>

                    <a
                        href="{{i 'main.signUp.url'}}"
                        class="btn btn-outline-primary d-block d-xl-inline"
                    >
                        {{i "main.signUp.label"}}
                        <i class="bi bi-plus-lg"></i>
                    </a>
                {{/not}}
            </div>
        </div>

        <div class="gr-header-end text-end">
            <button class="gr-search-btn gr-icon-btn btn btn-link text-white" type="button">
                <i class="bi bi-search"></i>
            </button>
            {{#if authenticated}}
                <button
                    class="gr-user-btn gr-icon-btn btn btn-link bg-gradient text-white rounded-circle"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#gr-sidebar-user"
                    aria-controls="gr-sidebar-user"
                >
                    {{#if (isTruthy user.avatar)}}
                        <img
                            class="`gr-user-thumbnail img-fluid rounded-circle"
                            src="{{user.avatar}}"
                            alt="{{user.firstName}}"
                        />
                    {{else}}
                        <i class="bi bi-person-circle"></i>
                    {{/if}}
                </button>
            {{/if}}
        </div>
    </div>
{{/block}}