{{#extend "default" scroll="main" body-bg="black"}}
    {{#content "main"}}
        <div class="gr-sign-in-page d-flex flex-fill">
            <div class="container d-flex align-items-center flex-fill">
                <div
                    class="gr-sign-in-images-container flex-fill d-none d-lg-flex flex-column align-items-center justify-content-center order-1 text-center"
                >
                    <h1 class="text-gradient fs-xxl">Grimore</h1>
                    <p class="lead-text mb-4">Aprenda no seu tempo as technologias mais quentes do
                        mercado!</p>
                    <div class="gr-sign-in-images d-flex justify-content-center align-items-center">
                        {{#each (i "auth.signIn.images")}}
                            <div
                                class="item
                                    {{this}}
                                    d-flex justify-content-center align-items-center"
                                data-active="{{this}}"
                            >
                                <div class="gradient {{this}}"></div>
                                {{#startsWith "emoji_" this}}
                                    <img
                                        alt="{{this}}"
                                        class="target"
                                        src="/public/images/emojis/{{replace this 'emoji_' ''}}.png"
                                    />
                                {{else}}
                                    <img
                                        alt="{{this}}"
                                        class="target"
                                        src="/public/images/tech/{{this}}-250.png"
                                    />
                                {{/startsWith}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="flex-fill d-flex justify-content-center order-0">
                    <div class="auth-container mx-md-3">
                        {{#embed "form-box/tpl" id="gr-sign-up" action="/sign-up/jsonDb"}}
                            {{#content "cardTitle"}}
                                {{i "auth.signUp.title"}}
                            {{/content}}

                            {{#content "cardContent"}}
                                <div class="mb-3">
                                    <label
                                        for="{{i 'auth.signUp.username.name'}}"
                                        class="form-label"
                                    >{{i "auth.signUp.username.label"}}</label>
                                    <input
                                        id="{{i 'auth.signUp.username.name'}}"
                                        class="form-control"
                                        placeholder="{{i 'auth.signUp.username.placeholder'}}"
                                        name="{{i 'auth.signUp.username.name'}}"
                                        minlength="3"
                                        maxlength="60"
                                        required
                                    />
                                </div>

                                <div class="mb-3">
                                    <label
                                        for="{{i 'auth.signUp.email.name'}}"
                                        class="form-label"
                                    >{{i "auth.signUp.email.label"}}</label>
                                    <input
                                        id="{{i 'auth.signUp.email.name'}}"
                                        name="{{i 'auth.signUp.email.name'}}"
                                        type="email"
                                        class="form-control"
                                        placeholder="{{i 'auth.signUp.email.placeholder'}}"
                                        required
                                    />
                                </div>

                                <div class="mb-3">
                                    <label
                                        for="{{i 'auth.signUp.password.name'}}"
                                        class="form-label"
                                    >{{i "auth.signUp.password.label"}}</label>
                                    <input
                                        id="{{i 'auth.signUp.password.name'}}"
                                        name="{{i 'auth.signUp.password.name'}}"
                                        type="password"
                                        class="form-control"
                                        placeholder="{{i 'auth.signUp.password.placeholder'}}"
                                        minlength="8"
                                        maxlength="30"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="{{i 'auth.signUp.confirm.name'}}"
                                        class="form-label"
                                    >{{i "auth.signUp.confirm.label"}}</label>
                                    <input
                                        id="{{i 'auth.signUp.confirm.name'}}"
                                        name="{{i 'auth.signUp.confirm.name'}}"
                                        type="password"
                                        class="form-control"
                                        placeholder="{{i 'auth.signUp.confirm.placeholder'}}"
                                        minlength="8"
                                        maxlength="30"
                                        required
                                    />
                                </div>
                            {{/content}}

                            {{#content "cardButton"}}
                                Criar conta
                            {{/content}}

                            {{#content "cardExtra"}}
                                <div class="d-flex align-items-center my-3">
                                    <div
                                        class="border-top border-lighter flex-fill"
                                        style="height: 1px;"
                                    ></div>
                                    <div class="px-2">ou</div>
                                    <div
                                        class="border-top border-lighter flex-fill"
                                        style="height: 1px;"
                                    ></div>
                                </div>

                                {{#embed "github-sign-in/tpl"}}{{/embed}}

                                <div
                                    class="d-flex align-items-center justify-content-center px-4 pt-4"
                                >
                                    {{i "auth.signUp.hasAccount"}}&nbsp;
                                    <a
                                        href="{{i 'main.signIn.url'}}"
                                        class="text-decoration-none"
                                    >{{i "main.signIn.label"}}</a>
                                </div>
                            {{/content}}
                        {{/embed}}
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="/public/scripts/pages/sign-in.js"></script>
        <script src="/public/scripts/pages/sign-up.js"></script>
    {{/content}}
{{/extend}}