{{#extend "default"}}
    {{#content "main"}}
        <div class="auth-container flex-fill mx-3">
            {{#embed "form-box/tpl" action="/sign-up/jsonDb"}}
                {{#content "cardTitle"}}
                    {{i "auth.signUp.title"}}
                {{/content}}

                {{#content "cardContent"}}
                    <div class="mb-3">
                        <label
                            for="{{i "auth.signUp.username.name"}}"
                            class="form-label"
                        >{{i "auth.signUp.username.label"}}</label>
                        <input
                            id="{{i "auth.signUp.username.name"}}"
                            class="form-control"
                            placeholder="{{i "auth.signUp.username.placeholder"}}"
                            name="{{i "auth.signUp.username.name"}}"
                        />
                    </div>

                    <div class="mb-3">
                        <label
                            for="{{i "auth.signUp.email.name"}}"
                            class="form-label"
                        >{{i "auth.signUp.email.label"}}</label>
                        <input
                            id="{{i "auth.signUp.email.name"}}"
                            name="{{i "auth.signUp.email.name"}}"
                            type="email"
                            class="form-control"
                            placeholder="{{i "auth.signUp.email.placeholder"}}"
                        />
                    </div>

                    <div class="mb-3">
                        <label
                            for="{{i "auth.signUp.password.name"}}"
                            class="form-label"
                        >{{i "auth.signUp.password.label"}}</label>
                        <input
                            id="{{i "auth.signUp.password.name"}}"
                            name="{{i "auth.signUp.password.name"}}"
                            type="password"
                            class="form-control"
                            placeholder="{{i "auth.signUp.password.placeholder"}}"
                        />
                    </div>
                {{/content}}

                {{#content "cardButton"}}
                    Criar conta
                {{/content}}

                {{#content "cardExtra"}}
                    <div class="d-flex align-items-center my-3">
                        <div class="border-top border-lighter flex-fill" style="height: 1px;"></div>
                        <div class="px-2">ou</div>
                        <div class="border-top border-lighter flex-fill" style="height: 1px;"></div>
                    </div>

                    {{#embed "github-sign-in/tpl"}}{{/embed}}

                    <div class="d-flex align-items-center justify-content-center px-4 pt-4">
                        {{i "auth.signUp.hasAccount"}}&nbsp;
                        <a
                            href="{{i "main.signIn.url"}}"
                            class="text-decoration-none"
                        >{{i "main.signIn.label"}}</a>
                    </div>
                {{/content}}
            {{/embed}}
        </div>
    {{/content}}
{{/extend}}
