{{#extend "default"}}
    {{#content "main"}}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page">
                            
                            <a href="/estudos/novo-plano/time?category={{data "query.category"}}&tecnology={{data "query.tecnology"}}" class="d-flex text-decoration-none align-items-center mb-2 link-light">
                            <i class="bi bi-arrow-left me-2 gr-{{data "query.category"}}-color"></i>
                                Passo 4 de 4
                            </a> 
                            
                            <h1 class="text mb-4">
                                    Legal!
                            </h1>
                        
                            <h4 class="text mb-4">

                                {{#with (find categories.items "name" query.category)}}  
                                Você deseja aprender desenvolvimento <span class="gr-{{data "query.category"}}-color">{{label}}</span>,
                                {{/with}}

                                {{#with (find technologies.items "name" query.tecnology)}}  
                                com foco em <span class="gr-{{data "query.category"}}-color">{{label}}</span>,
                                {{/with}}

                                {{#with (find times.items "id" query.time)}}  
                                dedicando <span class="gr-{{data "query.category"}}-color">{{label}}</span> diariamente.
                                {{/with}}

                            </h4>

                            <p>Ter um plano é sempre o primeiro passo para que algo extrordinário aconteça!</p>
                            <P>Baseado nestas informações, iremos criar um plano de estudos com vídeos, tutoriais e projetos, para tornar seu aprendizado mais divertido e gratificante.</P>
                            <p>Deseja criar um plano com base nas informações acima?</p>

                            <a href="/estudos/novo-plano/confirmacao?category={{data "query.category"}}&tecnology={{data "query.tecnology"}}"
                               class="btn btn-gr-outline-{{data "query.category"}} d-block my-5 link-light">
                                Sim, quero criar o plano
                                <i class="bi bi-plus"></i>
                             </a>
                            
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}