{{#block "sidebar-user/tpl"}}
    <div
        id="gr-sidebar-user"
        class="offcanvas offcanvas-end bg-black"
        tabindex="-1"
        aria-labelledby="gr-sidebar-user-label"
    >
        <div class="offcanvas-header">
            <h6 class="offcanvas-title fs-5 text-light">Perfíl</h6>
            <button
                type="button"
                class="btn-close text-light"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
        </div>

        <div class="offcanvas-body">
            <h5 class="offcanvas-title mb-2">{{default user.firstName user.username}}
                {{user.lastName}}</h5>
            <div class="px-5 py-4 text-center">
                <div class="bg-gradient text-white rounded-circle p-2">
                    <div class="rounded-circle p-1">
                        <img
                            class="img-fluid rounded-circle"
                            src="{{default user.avatar (replace "https://avatars.dicebear.com/api/bottts/%s.svg" "%s" user.firstName)}}"
                            alt="{{user.firstName}}"
                        />
                    </div>
                </div>
            </div>
            <div class="py-4 border-bottom">
                <ul class="nav flex-column">
                    {{#each (i "main.userMenu")}}
                        <li class="nav-item"><a
                                href="{{url}}"
                                class="nav-link text-body"
                                title="Ver seu perfíl"
                            >{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <form action="/sign-out" method="post" class="m-0 py-4">
                <button type="submit" class="btn btn-outline-primary w-100 d-xl-inline">
                    Sair
                </button>
            </form>
        </div>
    </div>
{{/block}}
