{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <section class="pb-5">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page"
                    >
                        <a
                            href="/new/track"
                            class="d-flex text-decoration-none align-items-center mb-2 text-muted"
                        >
                            <i class="bi bi-arrow-left me-2"></i>
                            {{i "newPlan.area.breadcrumb"}}
                        </a>

                        <h2 class="text mb-4">
                            {{i "newPlan.area.title"}}
                        </h2>

                        <div class="mb-5">
                            {{#each (i "newPlan.area.content")}}
                                <p>{{this}}</p>
                            {{/each}}
                        </div>

                        <div class="text-start border-top">
                            {{#each areas}}
                                <a
                                    href="/new/track/tech?area={{slug}}"
                                    class="btn btn-lg btn-outline-{{slug}} text-start d-block mb-2"
                                >
                                    {{title}}
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}