{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <section>
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page"
                    >
                        <a
                            href="/new/track/time?area={{area.slug}}&tech={{tech.slug}}"
                            class="d-flex text-decoration-none align-items-center mb-2 text-muted"
                        >
                            <i class="bi bi-arrow-left me-2"></i>
                            Passo 4 de 4
                        </a>

                        <h1 class="text mb-4">
                            Legal!
                        </h1>

                        <h4 class="text mb-4">
                            Você deseja aprender desenvolvimento
                            <span class="text-{{area.slug}}">{{area.title}}</span>,
                            {{#isTruthy tech.slug}}
                                com foco em
                                <span class="text-{{area.slug}}">{{tech.title}}</span>,
                            {{/isTruthy}}
                            dedicando
                            <span class="text-{{area.slug}}">{{get
                                    "label"
                                    (find (i "newPlan.time.options") "id" query.time)
                                }}</span>
                            diariamente.
                        </h4>

                        <p>Ter um plano é sempre o primeiro passo para que algo extrordinário
                            aconteça!</p>
                        <P>Baseado nestas informações, iremos criar um plano de estudos com vídeos,
                            tutoriais e projetos, para tornar seu aprendizado mais divertido e
                            gratificante.</P>
                        <p>Deseja criar um plano com base nas informações acima?</p>

                        <form id="gr-new-plan-form" method="post" action="/new/track/confirm">
                            <input type="hidden" name="area" value="{{data 'area.slug'}}" />
                            <input type="hidden" name="tech" value="{{data 'tech.slug'}}" />
                            <input
                                type="hidden"
                                name="time"
                                value="{{join
                                    (get 'value' (find (i 'newPlan.time.options') 'id' query.time))
                                }}"
                            />

                            <button
                                type="submit"
                                class="btn btn-lg btn-outline-{{data 'area.slug'}}
                                    d-block w-100 my-5 link-light"
                            >
                                Sim, quero criar o plano
                                <i class="bi bi-plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}