{{#extend "default" scroll="body"}}
    {{#content "main"}}
        <section>
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page"
                    >
                        <a
                            href="/new/track/area"
                            class="d-flex text-decoration-none align-items-center mb-2 text-muted"
                        >
                            <i class="bi bi-arrow-left me-2 gr-{{area.slug}}-color"></i>
                            {{i "newPlan.tech.breadcrumb"}}
                        </a>

                        <h1 class="text mb-4">
                            <span class="text-{{area.slug}}">{{area.title}}</span>,
                            {{i "newPlan.tech.title"}}
                        </h1>

                        <div class="mb-5">
                            <p>{{area.description}}</p>
                        </div>

                        <h4 class="mb-4">{{i "newPlan.tech.sub-title"}}</h4>

                        <div class="d-grid mb-5" style="">
                            {{#each (data "tracks")}}
                                <a
                                    href="/new/track/time?area={{data 'area.slug'}}&tech={{slug}}"
                                    class="gr-plan-option d-flex btn align-items-center justify-content-between px-3 py-4 border-0 border-top rounded-0"
                                >
                                    <div class="d-flex align-items-center flex-fill">
                                        <img class="pe-2 py-2" src="{{icon}}" alt="" width="40" />
                                        <p class="lead-text m-0">{{title}}</p>
                                    </div>

                                    <i class="bi bi-chevron-right text-{{data 'area.slug'}}"></i>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}