{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <section>
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page"
                    >
                        <a
                            href="/new/track/tech?area={{area.slug}}"
                            class="d-flex text-decoration-none align-items-center mb-2 text-muted"
                        >
                            <i class="bi bi-arrow-left me-2"></i>
                            Passo 3 de 4
                        </a>

                        <h2 class="text mb-4">
                            <span class="text-{{area.slug}}">{{tech.title}}</span>
                            {{tech.sub-title}}
                        </h2>

                        <p class="text-lead mb-5 text-justify">
                            {{tech.description}}
                        </p>

                        <div class="mb-5">
                            <h4 class="mb-5">{{i "newPlan.time.title"}}</h4>
                            {{#each (i "newPlan.time.options")}}
                                <a
                                    href="/new/track/summary?area={{data 'area.slug'}}&tech={{data
                                        'tech.slug'
                                    }}&time={{id}}"
                                    data-time="{{value}}"
                                    class="gr-plan-option text-lead d-flex align-items-center justify-content-center btn px-3 py-4 border-0 border-top rounded-0"
                                >
                                    <i class="bi bi-{{icon}} text-{{data 'area.slug'}} me-3"></i>
                                    <p class="m-0 flex-fill text-start me-5">{{description}}</p>
                                    <i class="bi bi-chevron-right text-{{data 'area.slug'}}"></i>
                                </a>
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}