{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <div class="gr-home-page w-100">
            <section class="d-flex align-items-center justify-content-center gr-home-hero">
                <div class="container text-center">
                    <div>
                        <div class="text-gradient mb-3">
                            <h1>{{i "home.hero.title"}}!</h1>
                        </div>

                        <p class="lead-text">{{i "home.hero.lead"}}</p>
                    </div>
                    {{#embed "section-nav-button/tpl"}}{{/embed}}
                </div>
            </section>

            <section
                class="gr-section-how-it-works d-flex align-items-center justify-content-center"
            >
                <div class="bg-gradient-radial"></div>
                <div class="bg-gradient-radial-2"></div>
                <div class="container text-center text-lg-start">
                    <div class="row mb-1 mb-lg-5">
                        <div class="col-lg-7 order-1 order-lg-0">
                            <h2 class="text-title-home mb-3">{{i "home.sectionOne.title"}}</h2>

                            <div class="mb-3 mb-md-5">
                                {{#each (i "home.sectionOne.content")}}
                                    <p class="lead-text text-white {{#if @last}}mb-5{{else}}m-2{{/if}}">{{this}}</p>
                                {{/each}}
                            </div>

                            <form action="/search" method="get">
                                <div class="input-group gr-custom-search">
                                    <input
                                        name="q"
                                        type="text"
                                        class="form-control"
                                        placeholder="Digite um tópico ou tecnologia"
                                        aria-label="Search button"
                                        aria-describedby="form-control"
                                    />

                                    <button
                                        class="gr-icon-btn btn btn-black border-lighter"
                                        type="submit"
                                    >
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 text-center order-0 order-lg-1">
                            <img src="/public/images/funil.svg" class="img-fluid" />
                        </div>
                    </div>
                    {{#embed "section-nav-button/tpl"}}{{/embed}}
                </div>
            </section>

            <section
                class="gr-section-courses bg-dark d-flex align-items-center justify-content-center"
            >
                <div class="container text-center text-lg-start">
                    <div class="row mb-1 mb-lg-5">
                        <div class="col-12 col-lg-5 order-0 order-lg-0">
                            <img src="/public/images/baker-icon.svg" class="img-fluid" />
                        </div>
                        <div class="col-12 col-lg-7 order-1 order-lg-1">
                            <h2 class="text-title-home text-gradient mb-3">{{i "home.sectionTwo.title"}}</h2>

                            <div class="lead-text mb-5">
                                {{#each (i "home.sectionTwo.content")}}
                                    <p class="lead-text text-white m-0">{{this}}</p>
                                {{/each}}
                            </div>

                            <a
                                href="/new/track"
                                class="btn btn-lg btn-outline-primary btn-right-icon btn-wide"
                            >
                                <span>Criar plano de estudos</span>
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </div>
                    </div>
                    {{#embed "section-nav-button/tpl"}}{{/embed}}
                </div>
            </section>
            <section
                class="gr-section-sing-up bg-lighter d-flex align-items-center justify-content-center"
            >
                <div class="container text-center">
                    <div>
                        <img src="/public/images/academic-cap.svg" class="img-fluid" />
                    </div>
                    <h2 class="mb-3">{{i "home.sectionThree.title"}}</h2>

                    {{#each (i "home.sectionThree.content")}}
                        <p class="lead-text text-white {{#if @last}}mb-5{{else}}m-2{{/if}}">{{this}}</p>
                    {{/each}}

                    <div>
                        <a
                            href="/sign-up"
                            class="btn btn-lg btn-outline-primary btn-left-icon btn-wide"
                        >
                            <i class="bi bi-person-plus"></i>
                            Criar uma conta gratuita
                        </a>
                    </div>
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}


