{{#extend "default" scroll="main" body-bg="black"}}
    {{#content "main"}}
        <div class="auth-container flex-fill mx-3">
            {{#embed "form-box/tpl"}}
                {{#content "cardTitle"}}
                    {{i "auth.recover.title"}}
                {{/content}}

                {{#content "cardContent"}}
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <p class="text-body text-center">{{i "auth.recover.title"}}</p>
                    </div>

                    <div class="mb-3">
                        <label for="inputEmail3" class="form-label">{{i
                                "auth.recover.email.label"
                            }}</label>
                        <input
                            type="email"
                            placeholder="{{i 'auth.recover.email.placeholder'}}"
                            class="form-control"
                            id="inputEmail3"
                        />
                    </div>
                {{/content}}

                {{#content "cardButton"}}
                    {{i "auth.recover.sendEmail"}}
                {{/content}}

                {{#content "cardExtra"}}
                    <div class="d-flex align-items-center justify-content-center px-4 pt-4">
                        {{i "auth.recover.backToLogin"}}&nbsp;
                        <a href="{{i 'main.signIn.url'}}" class="text-decoration-none">{{i
                                "auth.recover.login"
                            }}</a>
                    </div>
                {{/content}}
            {{/embed}}
        </div>
    {{/content}}
{{/extend}}