{{#extend "default"}}
    {{#content "main"}}
        <div class="auth-container flex-fill mx-3">
            {{#embed "form-box/tpl"}}
                {{#content "cardTitle"}}
                    {{auth.recover.title}}
                {{/content}}

                {{#content "cardContent"}}
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <p class="text-body text-center">{{auth.recover.form.title}}</p>
                    </div>

                    <div class="mb-3">
                        <label
                            for="inputEmail3"
                            class="form-label"
                        >{{auth.recover.form.email.label}}</label>
                        <input
                            type="email"
                            placeholder="{{auth.recover.form.email.placeholder}}"
                            class="form-control"
                            id="inputEmail3"
                        />
                    </div>
                {{/content}}

                {{#content "cardButton"}}
                    {{auth.recover.form.sendEmail}}
                {{/content}}

                {{#content "cardExtra"}}
                    <div class="d-flex align-items-center justify-content-center px-4 pt-4">
                        {{auth.recover.backToLogin}}&nbsp;
                        <a
                            href="{{auth.link.login.url}}"
                            class="text-decoration-none"
                        >{{auth.recover.login}}</a>
                    </div>
                {{/content}}
            {{/embed}}
        </div>
    {{/content}}
{{/extend}}