{{#extend "default"}}
    {{#content "main"}}
        <div class="auth-container flex-fill mx-3">
            <div>
                <h2 class="text-center text-primary">{{i "auth.recovered.title"}}</h2>
                <div class="d-flex align-items-center justify-content-center px-4 pt-4">
                    <p class="text-center">{{i "auth.recovered.description"}}</p>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center px-4 pt-5">
                <p class="lead-text">{{i "auth.recover.backToLogin"}}&nbsp;
                    <a
                        href="{{i "main.signIn.url"}}"
                        class="text-decoration-none"
                    >{{i "auth.recover.login"}}</a>
                </p>
            </div>
        </div>
    {{/content}}
{{/extend}}
