{{#block "form-box/tpl"}}
    <div class="card auth-card shadow bg-darker">
        <div class="card-body p-4">
            <h2 class="card-title text-center mb-2">
                {{#block "cardTitle"}}
                    Default title
                {{/block}}
            </h2>
            
            {{#block "cardSubTitle"}}{{/block}}
            
            <form id="{{id}}" action="{{action}}" method="post">
                {{#gt (length messages) 0}}
                    <div class="alert alert-warning d-flex align-items-center mb-4" role="alert">
                        <i class="bi bi-exclamation-triangle me-2"></i>
                        <div>
                            {{#each messages}}
                                {{log @last}}
                                <p class="mb-{{#not @last}}2{{else}}0{{/not}}">{{this}}</p>
                            {{/each}}
                        </div>
                    </div>
                {{/gt}}
                
                {{#block "cardContent"}}
                    Card content
                {{/block}}

                <div class="d-grid gap-1 pt-3">
                    <button type="submit" class="btn btn-primary">
                        {{#block "cardButton"}}{{/block}}
                    </button>
                </div>
            </form>

            {{#block "cardExtra"}}{{/block}}
        </div>
    </div>
{{/block}}
