{{#extend "default" footer=false}}
    {{#content "main"}}
        <div class="gr-search-page d-flex flex-column overflow-hidden">
            {{#if (isTruthy area)}}
                {{#with area}}
                    <div class="gr-search-area py-4 px-3 bg-{{slug}} text-white">
                        <div class="d-flex align-items-center">
                            <h4 class="me-3">{{title}}</h4>
                            <button class="btn btn-link btn-lg text-white p-0">
                                <i class="bi bi-flag-fill"></i>
                            </button>
                            <div class="vr mx-4"></div>
                            <a href="/search" title="" class="text-dark">
                                <small>Remover filtro e buscar em todas as categorias</small>
                            </a>
                            <div class="flex-fill text-end">
                                <button
                                    data-toggle="gr-search-area-description"
                                    class="btn btn-link text-white"
                                >
                                    <i class="bi bi-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <div id="gr-search-area-description" class="pt-4">
                            <p>{{description}}</p>
                        </div>
                    </div>
                {{/with}}
            {{/if}}
            <div id="gr-search-menu" class="gr-search-menu bg-black pt-2 pb-3 px-3 overflow-hidden">
                <div class="d-flex h-100">
                    {{#each technologies}}
                        <a
                            id="{{id}}"
                            href="/search?{{#isTruthy (data "query.area")}}area={{data "query.area"}}&{{/isTruthy}}tech={{slug}}"
                            data-slug="{{slug}}"
                            data-index="{{@index}}"
                            class="d-inline-block border border-2 {{#eq (data "query.tech") slug}}border-{{default (data "query.area") "primary"}}{{/eq}} rounded-3 bg-dark bg-lighter-hover text-white-hover text-decoration-none me-2 px-3 py-2"
                        >
                            <img src="{{icon}}" alt="{{title}}" class="d-block mb-2" width="37" height="37" />
                            <small class="d-block">{{title}}</small>
                        </a>
                    {{/each}}
                </div>
            </div>
            <div class="gr-search-main d-flex flex-fill overflow-hidden border-top border-dark">
                <div id="gr-search-sidebar" class="gr-search-sidebar bg-black d-none d-xl-block">
                    <nav class="px-3 py-4 border-end border-dark h-100">
                        <div class="mb-5">
                            <p class="text-bold text-{{default area.slug "muted"}} fw-bolder">Minha lista</p>
                            <ul class="nav flex-column">
                                {{#each (i "search.userMenu")}}
                                    <li class="nav-item">
                                        <a class="nav-link ps-0 text-body text-{{default (data "area.slug") "primary"}}-hover"
                                           href="{{url}}{{#isTruthy (data "area")}}&area={{data "area.slug"}}{{/isTruthy}}"
                                           title="{{title}}">
                                            <i class="bi bi-dash opacity-25 d-inline pe-1"></i>
                                            {{title}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{#gt (length playlists) 0}}
                        <div>
                            <p class="text-bold text-{{default area.slug "muted"}} fw-bolder">Playlists</p>
                            <ul class="nav flex-column">
                            {{#each playlists}}
                                <li class="nav-item">
                                    <a
                                        class="nav-link d-flex justify-content-start align-items-center ps-0 text-body text-{{default (data "area.slug") "primary"}}-hover"
                                        href="/search?playlist={{id}}"
                                        title="{{title}}"
                                    >
                                        <i class="bi bi-dash opacity-25 d-inline pe-1"></i>
                                        <span>{{title}}</span>
                                    </a>
                                </li>
                            {{/each}}
                            </ul>
                        </div>
                        {{/gt}}
                    </nav>
                </div>
                <div id="gr-search-results" class="flex-fill overflow-auto">
                    <div class="p-4 d-flex flex-wrap gap-xs-4">
                        {{#each videos}}
                            <div class="gr-search-result d-inline-block text-body mb-4">
                                <span class="d-block mb-2">
                                    <img
                                        src="{{thumbnail}}"
                                        alt="{{title}}"
                                        class="img-fluid rounded-3"
                                    />
                                </span>
                                <div class="d-flex">
                                    <div style="min-width: 45px; max-width: 45px; height:45px;" class="me-3 rounded-circle overflow-hidden">
                                        <img src="{{creatorAvatar}}" class="img-fluid" />
                                    </div>
                                    <div>
                                        <a href="/video?id={{id}}" class="d-block text-body" title={{title}}>{{title}}</a>
                                        <small class="text-muted">{{creator}}</small><span class="d-inline-block text-muted mx-1">-</span><small class="text-muted">{{views}} views</small>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        {{#eq query.type "playlists"}}
                            {{#each playlists}}
                            <div class="gr-search-result d-inline-block text-body me-4 mb-4">
                                <span class="d-block mb-2 position-relative overflow-hidden">
                                    {{#each (first videos 3)}}
                                        <img
                                            src="{{thumbnail}}"
                                            alt="{{title}}"
                                            class="img-fluid shadow-sm rounded-3 {{#not @last}}img-gray{{/not}} {{#gt @index 0}}position-absolute top-0 start-{{multiply @index 10}}{{/gt}}" style="z-index: {{plus @index 100}};"
                                        />
                                    {{/each}}
                                </span>
                                <div class="d-flex">
                                    <div style="min-width: 45px; max-width: 45px; height:45px;" class="me-3 rounded-circle overflow-hidden">
                                        <img src="{{creatorAvatar}}" class="img-fluid" />
                                    </div>
                                    <div>
                                        <a href="/video?id={{id}}" class="d-block text-body" title={{title}}>{{title}}</a>
                                        <small class="text-muted">{{creator}}</small><span class="d-inline-block text-muted mx-1">-</span><small class="text-muted">{{length videos}} vídeos</small>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        {{/eq}}
                    </div>
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/public/scripts/pages/search.js"></script>
    {{/content}}
{{/extend}}
