<div class="d-flex gr-plan-progress {{mode}}-view {{ternary complete 'complete' ''}}">
    {{#embed "track-progress-marker/tpl" complete=complete area=area.slug connect=true}}{{/embed}}

    <div class="ps-3 pt-0 pb-4 flex-fill">
        <a href="/user-tracks/{{trackId}}/topic/{{id}}"
           class="{{#if (not mode "full")}}fs-6{{else}}fs-4{{/if}} text-body fw-bold">
            {{title}}
        </a>

        {{#if (eq mode "full")}}
            <p class="text-muted">{{description}}</p>
        {{/if}}
    </div>
</div>
