<div class="d-flex gr-plan-progress {{mode}}-view {{ternary this.complete 'complete' ''}}">
    <div class="d-flex flex-column align-items-center">
        <div>
            <i class="bi bi-check-lg"></i>
        </div>
        <div class="flex-fill"></div>
    </div>

    <div class="ps-3 pt-2 pb-4 flex-fill">
        <h6 class="{{#if (not mode "full")}}fs-5{{/if}}">{{this.title}}</h6>

        {{#if (eq mode "full")}}
            <p class="text-muted">{{this.description}}</p>
        {{/if}}
    </div>

    {{#if (eq mode "full")}}
        <div class="d-flex align-items-center ps-3">
            <a href="/tracks/{{trackId}}/topic/{{@index}}" class="text-muted fs-3">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    {{/if}}
</div>
