<a
    href="/tracks/{{data 'params.trackId'}}/topic/{{data 'params.topicId'}}/{{id}}"
    class="d-flex pt-5 pb-4 border-bottom"
>
    <div class="d-flex gr-plan-progress {{ternary this.complete 'complete' ''}}">
        <div class="d-flex flex-column align-items-center">
            <div>
                <i class="bi bi-check-lg"></i>
            </div>
            <span></span>
        </div>
    </div>
    <div class="flex-fill ms-4">
        <h5>{{title}}</h5>
        <p class="mb-4 text-muted">{{description}}</p>
        <div>
            <small class="d-flex align-items-center justify-content-end text-muted m-0 fs-6">
                <span>Medias nesta sessao</span>
                <i class="bi bi-filetype-txt ms-3"></i>
                <i class="bi bi-code-square ms-3"></i>
                <i class="bi bi-play-circle ms-3"></i>
            </small>
        </div>
    </div>
</a>