<a
    href="/user-tracks/{{data 'params.trackId'}}/topic/{{data 'params.topicId'}}/{{id}}"
    class="gr-plan-progress d-flex pt-5 pb-4 border-bottom text-body"
>
    {{#embed "track-progress-marker/tpl" complete=complete area=area.slug connect=false}}{{/embed}}
    <div class="flex-fill ms-4">
        <p class="fs-4">{{title}}</p>
        <p class="mb-4 text-muted">{{description}}</p>
        <div>
            <small class="d-flex align-items-center justify-content-end text-muted m-0 fs-6">
                <span>Medias nesta sessao</span>
                <i class="bi bi-filetype-txt ms-3"></i>
                <i class="bi bi-code-square ms-3"></i>
                <i class="bi bi-play-circle ms-3"></i>
            </small>
        </div>
    </div>
</a>